<!-- Extend the base layout from the layout.html -->
{% extends "Project/layout.html" %}

{% block title %} Home {% endblock %}

{% block content %}  
    <div class="jumborton text-center">
        <h1 class="display-4">Welcome to the Inventory App</h1>
        <p class="lead">
            Manage your Products efficiently and effectively.
        </p>
        <hr class="my-4">
        <p>
            Use the navigation bar to add, view, update or delete products.
        </p>
        <a href="{% url 'Product_list' %}" class="btn btn-primary btn-lg" role="button">View Products</a>
    </div>
{% endblock %}

