{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hello there!</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
</head>
<body>

    <h1>welcome to Django</h1>
    <p>Django makes it easer to build web applications more quickly and with less code</p>
    
    <script src="{% static 'js/script.js' %}"></script>
    <img src="{% static 'images/logo.png' %}" alt="django logo">
</body>
</html>